<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= link_to @movie.name, @movie.website, target:"_blank" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre.name %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @movie.actor_id %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @movie.website, @movie.website %>
</p>

</p>
<strong>Poster:</strong>
  <%= link_to image_tag(@movie.poster), @movie.website, target: "_blank" %>
</p>



<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

show page